
:root {
    --colorNeutralNeutral100: #f7f7f7;    
    --colorNeutralNeutral200: #f2f0f2;    
    --colorNeutralNeutral300: #e5e1e4;    
    --colorNeutralNeutral400: #bfbbbe;    
    --colorNeutralNeutral500: #a19a9f;    
    --colorNeutralNeutral600: #544a51;    
    --colorNeutralNeutral700: #3b2e37;    
    --colorNeutralNeutral800: #241921;    
    --colorNeutralNeutral900: #504be4;    
    --colorGreenGreen100: #d6ffa1;    
    --colorGreenGreen200: #c1fc74;    
    --colorGreenGreen300: #acfc45;    
    --colorGreenGreen400: #99e833;    
    --colorGreenGreen500: #7fc722;    
    --colorGreenGreen600: #5c9611;    
    --colorGreenGreen700: #3b6307;    
    --colorGreenGreen800: #182902;    
    --colorColorBlue: #504be4;    
}